---
layout: page
title: "About"
description: "Hey, this is Jason Chen."
header-img: "img/home-bg.jpg"
---

<h5>进入Android</h5>

<p>不知不觉从事Android开发的已有半年了。回想刚毕业那时找工作好困难，基本没公司招收ASP.NET开发的。（ASP.NET开发真是没人要了）花了一个多月的时间找到了一份SEO的工作，早九晚五，一天6.5小时，双休，非常轻松。做了两天，发觉这份工作就是在混日子...，考虑到将来的发展空间，决定辞职了，去培训了一波Android。培训完刚好是春节，也没工作经验，投的简历也是石沉大海，最后就现在这公司向我招手（感激）于是入职了。产品经理是我挺佩服的一个人，知识面很广。在这公司工作的挺开心，同事相处都很开心。
</p>

<h5>接手项目</h5>

<p>看到项目的第一眼，我擦嘞，这就是做了一年的app!<br /><img alt=""
        src="http://upload-images.jianshu.io/upload_images/7793862-3196d07289a809a7.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" /><br />然后熟悉了一周代码，我快奔溃了。服务端传很多无用的数据，各种写死的判断语句，自动登录也不是用token处理，也没做接口防止重复请求处理。最恐怖的是，为了复用而复用，导致类中很多魔鬼数字。。吐槽。整理逻辑整的头疼。最后看到高德地图还是用两年前的SDK！！！我我我我
    我还能说啥呢。 到现在偶尔还能发现小彩蛋。。吐槽+1 </p>

<p>不过既然接手了，就好好去对待。到现在从项目中获得了很多开发经验。半年间修改了2个大版本，改起来也越来越得心应手。</p>

<h5>工作半年的体会</h5>

<p>培训出来的和有半年实际开发经验的差距不是一点半点，所以培训是带入门，修行最终还是靠个人。<br />程序员要熟悉业务流程，在写业务逻辑的时候思路比较清晰。<br /><strong>代码规范是个very important
    </strong>，提高代码易读性，可维护性等好处。<br />程序员要经常充电，温故而知新。经验是慢慢积累起来的，一天收获一点，稳稳的进步。</p>


{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread" {% if site.duoshuo_username == "huxblog" %} data-thread-id="1187623191091085319" {% else %}
        data-thread-key="{{site.duoshuo_username}}/about" {% endif %} data-title="{{page.title}}"
        data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}" />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = { short_name: _user };
    (function () {
        var ds = document.createElement('script');
        ds.type = 'text/javascript'; ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}